<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632772079555-o25gbl90vo1086v04uvchjunivl6ebkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632772079555-o25gbl90vo1086v04uvchjunivl6ebkd</string>
	<key>API_KEY</key>
	<string>AIzaSyCtz8kAj90U_LMbrmThPi-sKn5xLCdoUWI</string>
	<key>GCM_SENDER_ID</key>
	<string>632772079555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blankFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>test-87a0f</string>
	<key>STORAGE_BUCKET</key>
	<string>test-87a0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632772079555:ios:6c8d53e836d141508f1776</string>
	<key>DATABASE_URL</key>
	<string>https://test-87a0f.firebaseio.com</string>
</dict>
</plist>