<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981089706929-g49uu96gg859tu6rheuasju45ji9g8ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981089706929-g49uu96gg859tu6rheuasju45ji9g8ce</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>981089706929-7dv50rraor5k7vrvotgc0asj223rberg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6W4PeySJ-VBWGerifrtBZ404aNgXLhWE</string>
	<key>GCM_SENDER_ID</key>
	<string>981089706929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zenTrails</string>
	<key>PROJECT_ID</key>
	<string>zentrails-499e2</string>
	<key>STORAGE_BUCKET</key>
	<string>zentrails-499e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981089706929:ios:b237127fae7f6022dfd390</string>
	<key>DATABASE_URL</key>
	<string>https://zentrails-499e2.firebaseio.com</string>
</dict>
</plist>